/*Tema*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
p,
span,
a,
option,
button {
  font-family: "Montserrat", sans-serif !important;
}

/*Components*/
/*Home*/
.top-menu {
  background-color: #FFFFFF;
  position: relative;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 400;
  background-color: #8C52FF;
  padding-top: 3rem;
}
.top-menu .menu {
  background-color: #fff;
}
.top-menu .menu .container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.top-menu .menu .container-menu .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: -50px;
  background-color: #fff;
}
.top-menu .menu .container-menu .logo img {
  height: auto;
  width: 195px;
}
.top-menu .menu .container-menu .nav {
  padding: 1rem 0;
  align-items: center;
}
.top-menu .menu .container-menu .nav .nav-link {
  color: #586474;
  margin: 0 5px;
}
.top-menu .menu .container-menu .nav .nav-link.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-menu .menu .container-menu .nav .nav-link.btn.btn-e {
  background-color: #F04903;
  color: #FFFFFF;
  height: 35px;
}
.top-menu .menu .container-menu .nav .nav-link.btn.btn-e .icon {
  display: none;
}
.top-menu .menu .container-menu .nav.nav-login .nav-item-menu-mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .top-menu .menu .container-menu .nav-menu {
    display: none;
  }
  .top-menu .menu .container-menu .btn-cadastrar {
    display: none;
  }
  .top-menu .menu .container-menu .nav-login .nav-item-menu-mobile {
    display: block !important;
  }
}
@media screen and (max-width: 768px) {
  .top-menu .menu .container-menu {
    flex-direction: column;
    justify-content: center;
  }
  .top-menu .menu .container-menu .nav {
    justify-content: center;
  }
  .top-menu .menu .container-menu .nav .nav-item .icon {
    display: block !important;
  }
  .top-menu .menu .container-menu .nav .nav-item .text {
    display: none;
  }
  .top-menu .menu .container-menu .btn-cadastrar {
    display: none;
  }
  .top-menu .menu .container-menu .logo img {
    width: 130px;
  }
}

.btn-sidebar {
  background-color: #8C52FF !important;
  color: #FFFFFF;
  border-color: #8C52FF !important;
  width: 60px;
  height: 35px;
  padding: 5px;
  margin: 0 10px;
}

.offcanvas-start {
  background-image: linear-gradient(to right top, #e2e3e5, #e9eaeb, #f1f1f2, #f8f8f8, #ffffff);
}
.offcanvas-start .sidebar-img {
  width: 100px;
  height: auto;
}

.container-sidebar {
  margin-left: 10px;
}
.container-sidebar ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-sidebar ul .dropdown-item {
  border-radius: 6px;
}

.banner-top {
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-top .banner-top-title {
  color: #FFFFFF;
  height: auto;
  margin-left: auto;
  text-shadow: 2px 2px #000;
}
.banner-top .banner-top-title .title-top {
  display: flex;
  align-items: center;
  width: 410px;
  height: 150px;
  margin-left: auto;
}
.banner-top .banner-top-title .title-top .banner-title {
  font-size: 40px;
}
.banner-top .banner-top-title .title-top .dog {
  font-family: "doggon";
  font-size: 150px;
}
.banner-top .banner-top-title .banner-text {
  font-size: 28px;
  display: flex;
  margin-left: auto;
  width: 410px;
  height: 150px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .banner-top .banner-top-title .title-top, .banner-top .banner-top-title .banner-text {
    display: inline;
    font-size: large;
    align-items: center;
    width: 25em;
  }
}
@media screen and (max-width: 576px) {
  .banner-top .banner-top-title .title-top {
    display: inline;
    font-size: medium;
    align-items: center;
    width: 10em;
  }
  .banner-top .banner-top-title .dog {
    display: none;
  }
  .banner-top .banner-top-title .banner-text {
    display: none;
  }
}
.banner-top .banner-top-msg {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 2px 2px #000;
}
.banner-top .banner-top-nav-pesquisa {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  height: 170px;
  justify-content: center;
  margin: 0;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom {
  display: flex;
  justify-content: center;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .select {
  margin-right: 0.7rem;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .form-select {
  width: 200px;
  flex: none;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search {
  position: relative;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search input {
  height: 40px;
  width: 200px;
  text-indent: 25px;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search .fa-search {
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  left: 16px;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search-input {
  background-color: #8C52FF;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search-input::-moz-placeholder {
  color: #FFFFFF;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.banner-top .banner-top-nav-pesquisa .banner-top-buttom .search-input::placeholder {
  color: #FFFFFF;
}

.container-carousel {
  position: relative;
  max-width: 75rem;
  width: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

.main-carousel .carousel-title-top {
  text-align: center;
  margin-top: 3.5rem;
}
.main-carousel .carousel-title-top .carousel-color-one {
  font-size: 2.5rem;
  color: #F67C21;
  font-style: italic;
  font-weight: bold;
}
.main-carousel .carousel-title-top .carousel-color-two {
  color: #586474;
  font-style: normal;
  font-weight: bold;
}
.main-carousel .carousel-title-top .carousel-color-three {
  color: #586474;
  font-weight: 600;
  margin-top: 1rem;
}
.main-carousel .container-carousel .swiper-container {
  font-family: "MontSerrat";
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide {
  display: inline-block;
  border-radius: 8px;
  box-shadow: -1px 15px 30px -12px #000;
  height: auto !important;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide .card-description .card-title {
  color: #8C52FF;
  padding-top: 0.5rem;
  text-align: center;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide .card-description .card-text {
  padding: 0.5rem;
  text-align: center;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide .card-description .card-link {
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide .card-description .card-link a {
  text-decoration: none;
}
.main-carousel .container-carousel .swiper-container .swiper-wrapper .swiper-slide .card-image img {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.main-carousel .container-carousel .swiper-container .swiper-pagination-bullet {
  opacity: 0.8;
  background: #F67C21;
}
.main-carousel .container-carousel .swiper-container .swiper-pagination-bullet-active {
  background: #8C52FF;
}
.main-carousel .container-carousel .swiper-container .swiper-button-next,
.main-carousel .container-carousel .swiper-container .swiper-button-prev {
  background-color: #F67C21;
  color: #FFFFFF;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: -1px 15px 30px -12px #000;
  margin-top: -1rem;
  outline: none;
}

.container-blog {
  position: relative;
}
.container-blog .blog-titles {
  font-family: "MontSerrat";
  text-align: center;
  margin-top: 0.8rem;
}
.container-blog .blog-titles .blog-text-one {
  font-size: 2.5rem;
  color: #586474;
  font-style: normal;
  font-weight: bold;
}
.container-blog .blog-titles .blog-text-one .blog-text-two {
  color: #F67C21;
  font-style: italic;
  font-size: 3.2rem;
  font-weight: bold;
}
.container-blog .blog-titles .blog-text-three {
  color: #586474;
  font-size: large;
  font-weight: 600;
  margin-top: 1rem;
}
.container-blog .slide-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
  text-align: center;
}
.container-blog .wrapper {
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 40px;
}
.container-blog .wrapper:focus {
  outline: 0;
}
.container-blog .card_g {
  background: #E7E7E7;
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-right: 0.7rem;
  margin-top: 5rem;
  text-align: center;
  box-shadow: -1px 15px 30px -12px #000;
  z-index: 9999;
}
.container-blog .card_g .card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
}
.container-blog .card_g .card__image-one {
  background-color: #FFFFFF;
}
.container-blog .card_g .card__image-one img {
  width: 19rem;
  position: absolute;
  top: -4rem;
  left: -1rem;
}
.container-blog .card_g .card__image-two {
  background-color: #FFFFFF;
}
.container-blog .card_g .card__image-two img {
  width: 15rem;
  position: absolute;
  top: -3rem;
  left: 1rem;
}
.container-blog .card_g .card__image-three {
  background-color: #FFFFFF;
}
.container-blog .card_g .card__image-three img {
  width: 20rem;
  position: absolute;
  top: -30px;
  left: -25px;
}
.container-blog .card_g .card-body {
  font-family: "MontSerrat";
}
.container-blog .card_g .card-body .card-name {
  font-size: 26px;
  color: #000;
  font-weight: 900;
  margin-bottom: 5px;
}
.container-blog .card_g .card-body .card-description {
  padding: 20px;
  margin-bottom: 10px;
}
.container-blog .card_g .card-body .card-link a:link {
  text-decoration: none;
}
.container-blog .card_g .card-body .card-link a {
  color: #F67C21;
  margin-left: 0.5rem;
}
.container-blog .card_g .blog-footer-one {
  background-color: #F67C21;
  height: 1.5rem;
}
.container-blog .card_g .blog-footer-two {
  background-color: #8C52FF;
  height: 1.5rem;
}
.container-blog .card_g .blog-footer-three {
  background-color: #64DDBB;
  height: 1.5rem;
}

.bannerinf {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  box-shadow: 0 0 10px #586474;
  margin-top: 2rem;
}
.bannerinf .bannerinf-img {
  height: 550px;
  width: 350px;
  transform: rotate(-25deg);
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  box-shadow: -1px 15px 30px -12px #000;
}
@media screen and (max-width: 768px) {
  .bannerinf .bannerinf-img {
    display: inline-block;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .bannerinf .bannerinf-img {
    display: none;
  }
}
.bannerinf .text-right {
  font-family: "MontSerrat";
  color: #FFFFFF;
  margin-top: 7rem;
}
.bannerinf .text-right .text-h1 {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  font-size: 2.8em;
  text-shadow: 2px 2px #000;
}
.bannerinf .text-right .text-h2 {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 2.8em;
  margin-top: 0.5rem;
  text-shadow: 2px 2px #000;
}
.bannerinf .text-right .text-p {
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 1.5rem;
  text-shadow: 2px 2px #000;
}
@media screen and (max-width: 768px) {
  .bannerinf .text-right {
    display: inline-block;
    width: 100%;
    margin-top: auto;
  }
  .bannerinf .text-right .text-h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .bannerinf .text-right .text-h2 {
    text-align: center;
    font-size: 1.2em;
  }
  .bannerinf .text-right .text-p {
    text-align: center;
    font-size: 1em;
  }
}
@media screen and (max-width: 576px) {
  .bannerinf .text-right {
    display: inline-block;
    width: 100%;
    margin-top: auto;
  }
  .bannerinf .text-right .text-h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .bannerinf .text-right .text-h2 {
    text-align: center;
    font-size: 1.2em;
  }
  .bannerinf .text-right .text-p {
    text-align: center;
    font-size: 1em;
  }
}

.page-dicas {
  font-family: "MontSerrat";
  height: auto;
  margin: 0;
  padding: 0;
}
.page-dicas .dicas-title {
  text-align: center;
  margin-top: 5rem;
}
.page-dicas .dicas-title .dicas-color-one {
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  color: #F67C21;
}
.page-dicas .dicas-title .dicas-color-two {
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: #586474;
}
.page-dicas .dicas-card {
  margin-top: 3.8rem;
}
.page-dicas .dicas-card .div-images {
  display: flex;
  min-height: 165px;
  margin: auto;
}
.page-dicas .dicas-card .div-images .div-image {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .page-dicas .dicas-card .div-image {
    display: inline-block;
    max-height: 120px !important;
    margin: auto;
  }
}
.page-dicas .card-body {
  min-height: 410px;
  margin-top: 2.5rem;
}
.page-dicas .card-body .card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.page-dicas .card-body .card-text {
  color: #606060;
  font-weight: 500;
  font-size: 1em;
  margin-top: 2.5rem;
  min-height: 168px;
  margin: auto;
}
.page-dicas .card-body .dicas-btn {
  background-color: #E7E7E7;
  font-weight: 600;
  font-style: 2rem;
  color: #F67C21;
  margin-top: 3.5rem;
  width: 60%;
}
.page-dicas .card-body .dicas-btn .btn-label {
  padding-right: 1em;
}
@media screen and (max-width: 992px) {
  .page-dicas .card-text {
    display: inline-block;
    min-height: 360px !important;
    margin-top: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  .page-dicas .card-text {
    display: inline-block;
    min-height: 360px !important;
  }
}
@media screen and (max-width: 576px) {
  .page-dicas .card-text {
    display: inline-block;
    min-height: 200px !important;
    margin-top: 1em !important;
  }
}

.footer-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  margin-top: 4rem;
  padding: 0;
  font-family: "MontSerrat" !important;
}
.footer-container .footer-text-white {
  color: #F04903;
}
.footer-container a {
  color: #FFFFFF;
}
.footer-container .logo .img {
  width: auto;
  height: 60px;
}
.footer-container .text-h5-newsletter {
  margin-top: 1rem;
}
.footer-container .text-muted {
  color: #FFFFFF !important;
}
.footer-container .Newsletter {
  margin-left: auto;
}
.footer-container .Newsletter .footer-btn-primary {
  background-color: #F04903;
  width: auto;
  height: 2.5rem;
}
.footer-container .Newsletter .footer-btn-primary .icon-envelope {
  color: #FFFFFF;
}
.footer-container .Newsletter .footer-btn-primary .icon-envelope svg {
  width: 2.5rem;
  height: 2.5rem;
  padding-bottom: 0.7em;
}
.footer-container .btn-social {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 2rem;
  margin-left: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.footer-container .linha-footer {
  background-color: #FFFFFF;
  height: 0.04rem;
}
.footer-container .text-linha-footer {
  margin-top: 1rem;
}
.footer-container .faixa-footer {
  background-color: rgb(140, 82, 255);
  opacity: 0.8;
  width: 100% !important;
  height: auto !important;
}
.footer-container .faixa-footer .faixa-text-1 {
  color: #FFFFFF !important;
  margin-top: 1rem;
  margin-bottom: 0;
  text-shadow: 2px 2px 0 #000;
}
.footer-container .faixa-footer .faixa-text-2 {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 0 #000;
}

/*Components*/
/*Adotar*/
.container-adotar {
  background-color: #E7E7E7;
  font-family: "MontSerrat";
  /*card*/
}
.container-adotar .adotar-top-msg {
  color: #606060;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  padding-top: 1rem;
  margin-top: 0;
}
.container-adotar .adotar-top-nav-pesquisa {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  border-radius: 6px;
  min-height: 80px;
  justify-content: center;
  margin: auto;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom {
  display: flex;
  justify-content: center;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .select {
  margin-right: 0.7rem;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .form-select {
  width: 200px;
  flex: none;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search {
  position: relative;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search input {
  height: 40px;
  width: 200px;
  text-indent: 25px;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search .fa-search {
  color: #FFFFFF;
  position: absolute;
  top: 8px;
  left: 16px;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search-input {
  background-color: #8C52FF;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search-input::-moz-placeholder {
  color: #FFFFFF;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.container-adotar .adotar-top-nav-pesquisa .adotar-top-buttom .search-input::placeholder {
  color: #FFFFFF;
}
.container-adotar .adotar-row .adotar-col {
  font-family: "MontSerrat";
}
.container-adotar .adotar-row .adotar-col .adotar-card {
  border-radius: 8px;
  box-shadow: -1px 15px 30px -12px #000;
  width: 100%;
  height: auto !important;
}
.container-adotar .adotar-row .adotar-col .adotar-card .card-body .card-title {
  color: #8C52FF;
  padding-top: 0.5rem;
  text-align: center;
}
.container-adotar .adotar-row .adotar-col .adotar-card .card-img-top {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container-adotar .btn-adotar-1 {
  background-color: #F04903;
  width: 80%;
  border-radius: 12px;
  margin-bottom: 1rem;
}
.container-adotar .btn-adotar-1 a {
  color: #FFFFFF;
}

.pagination {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 2rem;
}
.pagination li {
  color: #8C52FF;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s ease;
  border: 1px solid #FFFFFF;
  margin-left: 0.5rem;
}
.pagination li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
}
.pagination li.numb.first {
  margin: 0px 3px 0 -5px;
  margin-left: 0.5rem;
}
.pagination li.numb.last {
  margin: 0px -5px 0 3px;
}
.pagination li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination li.btn {
  padding: 0 20px;
}

@media screen and (max-width: 576px) {
  .pagination {
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 2rem;
  }
  .pagination li {
    border: none;
  }
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #fff;
  background: #8C52FF;
}

.adotar-footer {
  margin-top: 0;
}

/*Components*/
/*Detail-dog*/
.detail-container {
  font-family: "MontSerrat";
  margin: 0;
  padding: 0;
}
.detail-container .detail-faixa {
  background-color: #F67C21;
  width: 100%;
  margin: auto;
}
.detail-container .detail-faixa .detail-text {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}
.detail-container .detail-faixa .detail-text .detail-img {
  height: 2.5rem;
}
.detail-container .detail-faixa .detail-text .detail-text-italic {
  font-style: italic;
}
.detail-container .detail-faixa .detail-text .detail-text-italic .house-detail {
  height: 2.5rem;
}
.detail-container .detail-row {
  font-family: "MontSerrat";
  margin-top: 1rem;
  color: #606060;
}
.detail-container .detail-row .detail-text-btn .detail-button {
  height: 3rem !important;
  padding: 0 !important;
}
.detail-container .detail-row .detail-text-btn .detail-button .detail-btn {
  background-color: #8C52FF;
  color: #FFFFFF;
  padding: 0 !important;
}
.detail-container .detail-row .detail-text-btn .detail-button .detail-btn .img-detail-btn {
  padding-right: 1rem;
}
.detail-container .detail-row .card-detail {
  margin-top: 2rem;
}
.detail-container .detail-row .card-detail .name {
  color: #8C52FF;
  font-size: 25px;
  font-weight: bold;
}
.detail-container .detail-row .card-detail .name-color {
  color: #F04903;
  font-size: 25px;
  font-weight: bold;
}
.detail-container .detail-row .card-detail a {
  text-decoration: none;
  font-weight: 600;
  color: #F04903;
}
.detail-container .detail-row .card-detail h3 {
  font-size: 20px;
}
.detail-container .detail-row .card-detail .color-icon {
  color: #F04903;
}
.detail-container .detail-row .card-detail .linha-detail {
  background-color: #D9D9D9;
  width: 80%;
  height: 0.01rem;
  margin-top: 2.5rem;
}
.detail-container .color-det {
  color: #F04903;
  font-size: 25px;
  font-weight: bold;
}
.detail-container .detail-information .icon-certo {
  color: #64DDBB;
  padding-right: 0.5rem;
}
.detail-container .detail-information .icon-interro {
  color: #A62A77;
}
.detail-container .linha-detail-one {
  background-color: #D9D9D9;
  width: 100%;
  height: 0.01rem;
}
.detail-container .text-detail-final {
  font-family: "MontSerrat";
  color: #606060;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}
.mySwiper2 :focus {
  outline: none;
}

.color-mySwiper {
  background-color: #8C52FF;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #8C52FF;
  color: #FFFFFF;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-top: -1rem;
}
.swiper-button-next .swiper-button-next,
.swiper-button-next .swiper-button-prev,
.swiper-button-prev .swiper-button-next,
.swiper-button-prev .swiper-button-prev {
  background-color: #A62A77;
  color: #FFFFFF;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  margin-top: -1rem;
}

/*Components*/
/*About*/
.fluid-about {
  font-family: "MontSerrat";
}
.fluid-about .about-container {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 0.5rem;
}
.fluid-about .about-container .container-conteudo {
  width: auto;
  padding: 2rem;
}
.fluid-about .about-container .container-conteudo .title-one {
  margin: auto;
  width: 90%;
  padding: 10px;
}
.fluid-about .about-container .container-conteudo .title-two {
  margin: auto;
  width: 90%;
  padding: 10px;
}
.fluid-about .about-container .container-conteudo .text-about .title-h2 {
  color: #000;
  font-weight: bolder;
}
.fluid-about .about-container .container-conteudo .text-about .text-h4 {
  color: #606060;
  font-size: 1.2rem;
}
.fluid-about .about-container .container-conteudo .text-about .text-h44 {
  color: #F04903;
  font-size: 1.2rem;
}
.fluid-about .about-container .container-conteudo .text-about .column-icons {
  position: relative;
}
.fluid-about .about-container .container-conteudo .text-about .column-icons .about-img {
  width: 90px;
  height: 90px;
}
.fluid-about .about-container .container-conteudo .text-about .column-icons .icon-user {
  padding-top: 4rem;
}
.fluid-about .about-container .container-conteudo .text-about .column-icons .icon-paper {
  padding-top: 4rem;
}
.fluid-about .about-container .container-conteudo .text-about .linha-about {
  background-color: #000;
  width: 20%;
  height: 0.2rem;
  margin-left: 1rem;
}

.linha-about {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}

/*Components*/
/*sign-uplogin*/
.container .form-sign-up {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.container .form-sign-up .card {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  position: relative;
  font-family: "MontSerrat";
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 12px;
}
.container .form-sign-up .card .user {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}
.container .form-sign-up .card .user .form {
  background-color: #FFFFFF;
  padding: 20px 30px;
  left: 0;
  box-sizing: border-box;
  transition: all 1s;
}
.container .form-sign-up .card .user .form .text_signup {
  margin-top: 20px;
}
.container .form-sign-up .card .user .form .text_signup .signin-click {
  color: #A62A77;
}
.container .form-sign-up .card .user .form .text_signup h2 {
  color: #606060;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
}
.container .form-sign-up .card .user .form .text_signup p a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.container .form-sign-up .card .user .form .input-text-signup {
  position: relative;
  margin-top: 30px;
}
.container .form-sign-up .card .user .form input[type=text] {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 20px;
  box-sizing: border-box;
}
.container .form-sign-up .card .user .form input[type=password] {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 24px;
  box-sizing: border-box;
}
.container .form-sign-up .card .user .form .input-text-signup i {
  position: absolute;
  top: 15px;
  right: 8px;
  color: #6b6589;
  cursor: pointer;
  font-size: 13px;
}
.container .form-sign-up .card .user .form .input-text-signup label {
  position: absolute;
  left: 5px;
  top: 12px;
  font-size: 12px;
  transition: all 0.5s;
  pointer-events: none;
}
.container .form-sign-up .card .user .form .form-select {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 24px;
  box-sizing: border-box;
  font-size: 12px;
}
.container .form-sign-up .card .user .form .form-group .form-control {
  font-family: "MontSerrat";
  font-size: 12px !important;
}
.container .form-sign-up .card .user .form .form-check .form-check-input {
  background-color: #F04903;
  border-color: #A62A77;
}
.container .form-sign-up .card .user .form .form-check .form-check-input:hover {
  background-color: #A62A77;
}
.container .form-sign-up .card .user .form .form-check .form-check-label {
  font-size: 14px;
}
.container .form-sign-up .card .user .form .signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .form-sign-up .card .user .form .signup-button button {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border-radius: 12px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #F04903;
  cursor: pointer;
  transition: all 0.5s;
}
.container .form-sign-up .card .user .form .signup-button button:hover {
  background-color: #A62A77;
}
.container .form-sign-up .card .user .form .policy {
  margin-top: 20px;
}
.container .form-sign-up .card .user .form .policy a {
  font-size: 12px;
  font-weight: 700;
  color: #A62A77;
  text-decoration: none;
  cursor: pointer;
}
.container .form-sign-up .card .user .form .policy p {
  font-size: 12px;
  font-weight: 600;
  color: #606060;
}
.container .form-sign-up .card .user .image-box {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.container .form-sign-up .card .user .image-box img {
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    height: scroll;
  }
  .card {
    max-width: 350px;
  }
  .image-box {
    display: none;
  }
  .user .form {
    width: 100%;
    height: scroll;
  }
}
.linha-sign {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}

/*Components*/
/*in-sign*/
.insign-container {
  font-family: "MontSerrat";
}
.insign-container .container {
  background-image: linear-gradient(to bottom, transparent 30%, rgba(134, 70, 238, 0.671) 85%), url("../../imagem/in-sign-img/Purple.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 40rem;
  margin-top: 2rem;
}
.insign-container .container .insign-color {
  background-color: rgba(140, 82, 255, 0.863);
  border-radius: 12px;
  margin-top: 8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.insign-container .container .text-center {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.insign-container .container .form-control {
  background-color: rgba(140, 82, 255, 0.863);
  font-family: "MontSerrat";
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.insign-container .container input::-moz-placeholder {
  color: #FFFFFF;
}
.insign-container .container input:-ms-input-placeholder {
  color: #FFFFFF;
}
.insign-container .container input::placeholder {
  color: #FFFFFF;
}
.insign-container .container .btn-color {
  background-color: #E7E7E7;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  width: 80%;
  margin: auto;
}
.insign-container .container .text-link {
  color: #FFFFFF;
  font-size: 0.7rem;
}
.insign-container .container .text-link .insign-click {
  color: #000;
  font-size: 0.7rem;
}

.linha-insign {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}

/*Components*/
/*perfil-user*/
.profile {
  font-family: "MontSerrat";
  text-align: center;
  margin: auto;
}
.profile .perfil-info .perfil-breadcrumb a {
  text-decoration: none;
  font-weight: 500;
  color: #606060;
}
.profile .perfil-info .perfil-breadcrumb a:hover {
  color: #F04903;
  font-weight: 600;
}
.profile .perfil-info .perfil-col-image .perfil-image {
  margin-right: 30px;
}
.profile .perfil-info .perfil-col-image .perfil-image img {
  border-radius: 50%;
}
.profile .perfil-info .perfil-content {
  text-align: left;
}
.profile .perfil-info .perfil-content .perfil-name {
  color: #8C52FF;
  font-weight: bolder;
  font-size: 25px;
}
.profile .perfil-info .perfil-content .perfil-city {
  font-weight: 500;
  color: #606060;
}
.profile .perfil-info .perfil-content .perfil-div .perfil-contact {
  color: #606060;
}
.profile .perfil-info .perfil-content .perfil-div a:hover {
  color: #F04903;
  font-weight: 600;
}
.profile .perfil-info .perfil-content .perfil-icon {
  background-color: #F04903;
  display: inline-flex;
  border-radius: 50%;
  border: 0.5px solid #F04903;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
}
.profile .perfil-info .perfil-content p {
  color: #606060;
  font-weight: 600;
  font-size: 20px;
}
.profile .perfil-info .perfil-content .perfil-number {
  color: #F04903;
  font-size: 30px;
}
.profile .perfil-info .perfil-content .perfil-btn {
  font-weight: 500;
  color: #606060;
}
.profile .perfil-info .perfil-content .perfil-btn:hover {
  color: #F04903;
  font-weight: 600;
}

/*modal*/
.card-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  width: 30rem;
  height: auto;
  margin-top: 40%;
}
.card-modal .icon-back-color {
  background-color: rgba(229, 172, 235, 0.055);
  box-shadow: rgba(39, 36, 39, 0.226) 0px 5px 15px;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.card-modal .icon-back-color .icon-interro {
  color: #8C52FF;
}
.card-modal .contact {
  color: #8C52FF;
  font-weight: bold;
}
.card-modal li {
  list-style: none;
}
.card-modal .email-phone {
  color: #8C52FF;
  font-weight: 500;
}
.card-modal .email-phone .env-color,
.card-modal .email-phone .sap-color {
  color: #F04903;
}
.card-modal .btn-text-color {
  color: #8C52FF;
  font-weight: 500;
  box-shadow: rgba(39, 36, 39, 0.226) 0px 5px 15px;
}

.linha-user {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}

.container-fluid .perfil-row {
  margin-top: 6rem;
}
.container-fluid .perfil-row .perfil-col {
  font-family: "MontSerrat";
}
.container-fluid .perfil-row .perfil-col .perfil-card {
  border-radius: 8px;
  box-shadow: -1px 15px 30px -12px #000;
  width: 12rem;
}
.container-fluid .perfil-row .perfil-col .perfil-card .card-body .perfil-title {
  color: #8C52FF;
  padding-top: 0.5rem;
  text-align: center;
}
.container-fluid .perfil-row .perfil-col .perfil-card .perfil-img-top {
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/*Components*/
/*cadastre-dog*/
.container .form-cadastre-dog {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.container .form-cadastre-dog .card {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  position: relative;
  font-family: "MontSerrat";
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 12px;
}
.container .form-cadastre-dog .card .user {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
}
.container .form-cadastre-dog .card .user .form {
  background-color: #FFFFFF;
  padding: 20px 30px;
  left: 0;
  box-sizing: border-box;
  transition: all 1s;
}
.container .form-cadastre-dog .card .user .form .text_cadastre {
  margin-top: 20px;
}
.container .form-cadastre-dog .card .user .form .text_cadastre h2 {
  color: #606060;
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
}
.container .form-cadastre-dog .card .user .form .text_cadastre p a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.container .form-cadastre-dog .card .user .form .input-text-cadastre {
  position: relative;
  margin-top: 30px;
}
.container .form-cadastre-dog .card .user .form input[type=text] {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 20px;
  box-sizing: border-box;
}
.container .form-cadastre-dog .card .user .form input[type=password] {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 24px;
  box-sizing: border-box;
}
.container .form-cadastre-dog .card .user .form .input-text-cadastre i {
  position: absolute;
  top: 15px;
  right: 8px;
  color: #6b6589;
  cursor: pointer;
  font-size: 13px;
}
.container .form-cadastre-dog .card .user .form .input-text-cadastre label {
  position: absolute;
  left: 5px;
  top: 12px;
  font-size: 12px;
  transition: all 0.5s;
  pointer-events: none;
}
.container .form-cadastre-dog .card .user .form .form-select {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border: 1px solid #cccadc;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 24px;
  box-sizing: border-box;
  font-size: 12px;
}
.container .form-cadastre-dog .card .user .form .row-inf {
  font-size: 0.8rem;
  font-weight: 600;
  color: #F04903;
}
.container .form-cadastre-dog .card .user .form .row-inf label {
  color: #606060;
  font-size: 0.6rem !important;
}
.container .form-cadastre-dog .card .user .form .form-group .form-control {
  font-family: "MontSerrat";
  font-size: 12px !important;
}
.container .form-cadastre-dog .card .user .form .form-check .form-check-input {
  background-color: #F04903;
  border-color: #A62A77;
}
.container .form-cadastre-dog .card .user .form .form-check .form-check-input:hover {
  background-color: #A62A77;
}
.container .form-cadastre-dog .card .user .form .form-check .form-check-label {
  font-size: 14px;
}
.container .form-cadastre-dog .card .user .form .cadastre-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.container .form-cadastre-dog .card .user .form .cadastre-button button {
  width: 100%;
  height: 40px;
  border: none;
  outline: 0;
  border-radius: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #F04903;
  cursor: pointer;
  transition: all 0.5s;
}
.container .form-cadastre-dog .card .user .form .cadastre-button button:hover {
  background-color: #A62A77;
}
.container .form-cadastre-dog .card .user .form .policy {
  margin-top: 20px;
}
.container .form-cadastre-dog .card .user .form .policy a {
  font-size: 12px;
  font-weight: 700;
  color: #A62A77;
  text-decoration: none;
  cursor: pointer;
}
.container .form-cadastre-dog .card .user .form .policy p {
  font-size: 12px;
  font-weight: 600;
  color: #606060;
}
.container .form-cadastre-dog .card .user .image-box {
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.container .form-cadastre-dog .card .user .image-box img {
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    height: scroll;
  }
  .card {
    max-width: 100%;
  }
  .image-box {
    display: none;
  }
  .user .form {
    width: 100%;
    height: scroll;
  }
}
.linha-sign {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}

.form-upload {
  font-family: "MontSerrat";
  width: auto;
}
.form-upload input[type=file] {
  display: none;
}
.form-upload .label-upload {
  padding: 20px 10px;
  width: 100%;
  height: 40px;
  background-color: #F04903;
  border-radius: 17px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
.form-upload .label-upload:hover {
  background-color: #A62A77;
}

.upload-sign {
  background-color: #E7E7E7;
  width: 100%;
  height: 0.01rem;
}/*# sourceMappingURL=adote.css.map */