.container-adotar{
    background-color: $cinza-claro;
    font-family: 'MontSerrat';
    .adotar-top-msg{
        color: $acinzentado;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        padding-top: 1rem;
        margin-top: 0;
    }
    .adotar-top-nav-pesquisa{
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        border-radius: 6px;
        min-height: 80px;
        justify-content: center;
        margin: auto;
        .adotar-top-buttom{
            display: flex;
            justify-content: center;
            .select{
               margin-right: 0.7rem;
            }
            .form-select{
                width: 200px;
                flex: none;
            }
            .search{
                position: relative;   
            }
            .search input{
                height: 40px;
                width: 200px;
                text-indent: 25px;
            }
            .search .fa-search{
                color: $white;
                position: absolute;
                top: 8px;
                left: 16px;
            }
            .search-input{
                background-color: $dark-lilas;
            }
            .search-input::placeholder{
                color: $white;
            }
        }
    }
    /*card*/
    .adotar-row {
        .adotar-col {
          font-family: 'MontSerrat';
            .adotar-card{
              border-radius: 8px;
              box-shadow: -1px 15px 30px -12px $black;
              width: 100%;
              height: auto !important;
              .card-body{
                .card-title{
                  color: $dark-lilas;
                  padding-top: 0.5rem;
                  text-align: center;
                }
              }
              .card-img-top {
                display: block;
                position: relative;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 18rem;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
              }
            }
        }
    }
    .btn-adotar-1{
        background-color: $safety-orange;
        color: $white;
        width: 80%;
        border-radius: 12px;
        margin-bottom: 1rem;
    }   
}

    
