.container-adotar{
    background-color: $acinzentado;
    font-family: 'MontSerrat';

    .adotar-top-msg{
        color: $white;
        font-size: 20px;
        margin-top: 10px;
        text-shadow: 2px 2px $black;
    }
}