.top-menu{
    background-color: $white;
    position: relative;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight:400;
    background-color: $dark-lilas;
    padding-top: 3rem;
    .menu{
        background-color: #fff;
        .container-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            .logo{
                width: max-content;
                margin-top: -50px;
                background-color: #fff;
                img{
                    height: auto;
                    width: 195px;
                }
            }
            .nav { 
                padding: 1rem 0;
                align-items: center;
                .nav-link{
                    color: $gray;
                    margin: 0 5px;
                    &.btn{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        &.btn-e {
                            background-color: $safety-orange;
                            color: $white;
                            height: 35px;
                            .icon{
                                display: none;
                            }
                        }
                    }
                }
                &.nav-login .nav-item-menu-mobile{
                    display: none;
                }
            }
        }
    }
    @include responsive(l){
        .menu .container-menu{
            .nav-menu{
                display: none;
            }
            .btn-cadastrar{
                display: none;
            }
            .nav-login .nav-item-menu-mobile{
                display: block !important;
            }
        } 
    }
    @include responsive(m){
        .menu .container-menu{
            flex-direction: column;
            justify-content: center;
            .nav{
                justify-content: center;
                .nav-item{
                    .icon{
                        display: block !important;
                    }
                    .text{
                        display: none;
                    }
                } 
            }
            .btn-cadastrar{
                display: none;
            }
            .logo img{
               width: 130px;
            }
        }
    }
}

.btn-sidebar {
    background-color: $dark-lilas !important;
    color: $white;
    border-color: $dark-lilas !important;
    width:60px;
    height: 35px;
    padding:5px;
    margin: 0 10px;
}
.offcanvas-start{
    background-image: linear-gradient(to right top, #e2e3e5, #e9eaeb, #f1f1f2, #f8f8f8, #ffffff);
    .sidebar-img{
        width: 100px;
        height: auto;
    }
}
.container-sidebar{
    margin-left: 10px;

    ul {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;
        .dropdown-item{
            border-radius: 6px;
        }
    }
}










 

  

    