.top-menu{
    background-color: $white;
    position: relative;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight:400;
    background-color: $dark-lilas;
    padding-top: 3rem;
    .menu{
        background-color: #fff;
        .container-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            .logo{
                width: max-content;
                margin-top: -50px;
                background-color: #fff;
                img{
                    height: auto;
                    width: 195px;
                }
            }
            .nav { 
                padding: 1rem 0;
                align-items: center;
                .nav-menu-link{
                    transition: transform .2s;
                    font-weight: 600;  
                  }
                .nav-menu-link:hover {
                    color: $dark-lilas;
                    transform: scale(1.1); 
                  }
                .nav-link{
                    color: $gray;
                    margin: 0 5px;
                    &.btn{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        transition: none;
                        &.btn-e {
                            background-color: $safety-orange;
                            color: $white;
                            font-weight: 600;
                            height: 35px;
                        }
                        &.btn-e:hover {
                            background-color: $dark-lilas;
                           
                        }
                        &.btn-c{
                            background-color: $dark-lilas;
                            color: $white;
                            font-weight: 600;
                            height: 35px;
                        }
                        &.btn-c:hover {
                            background-color: $safety-orange;
                           
                        }
                    }
                }
                &.nav-login .nav-item-menu-mobile{
                    display: none;
                }
            }
        }
    }
    @include responsive(l){
        .menu .container-menu{
            .nav-menu{
                display: none;
            }
            .btn-cadastrar{
                display: none;
            }
            .nav-login .nav-item-menu-mobile{
                display: block !important;
            }
        } 
    }
    @include responsive(m){
        .menu .container-menu{
            flex-direction: column;
            justify-content: center;
            .nav{
                justify-content: center;
                .nav-item{
                    .icon{
                        display: block !important;
                    }
                    .text{
                        display: none;
                    }
                } 
            }
            .btn-cadastrar{
                display: none;
            }
            .logo img{
               width: 130px;
            }
        }
    }
}

.btn-sidebar {
    background-color: $dark-lilas !important;
    color: $white;
    border-color: $dark-lilas !important;
    width:60px;
    height: 35px;
    padding:5px;
    margin: 0 10px;
}
.offcanvas-start{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    .btn-fechar{
        color: $white;
        font-weight: 500;
        .icon-fechar{
            box-shadow: rgba(239, 245, 155, 0.747) 0px 5px 15px;
        }
    }
    .sidebar-img{
        width: 130px;
        height: auto;
    }
}
.container-sidebar{
    ul {
        list-style-type: none;
        list-style: none;
        margin: 0;
        padding: 0;
        .dropdown-item{
            width: 100vw;
            color: $white;
            font-weight: 600;    
        }
        .line-one{
            position: absolute;
            background-color: $safety-orange;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            height: 2px;   
        }
        @include responsive(xl){
            .line-one {
                display: inline; 
                align-items: center;  
                width: 35vw;    
            } 
        }
        @include responsive(l){
            .line-one {
                display: inline; 
                align-items: center;  
                width: 40vw;    
            } 
        }
        @include responsive(m){
            .line-one {
                display: inline; 
                align-items: center;  
                width: 40vw;    
            } 
        }
        @include responsive(s){
            .line-one {
                display: inline; 
                align-items: center;  
                width: 70vw;    
            } 
        }
    }
}










 

  

    