$acinzentado: #606060;
$azul: #004AAD;
$red: #CF000F;
$cinza-claro: #E7E7E7;
$white: #FFFFFF;
$safety-orange: #F04903;
$verde: #64DDBB;
$gray: #586474;
$dark-gray: #4D545E;
$lilac: #A62A77;
$dark-lilas: #8C52FF;
$dark-orange: #F67C21;
$black: #000;
$cinza-claro:#E7E7E7;
$cinza: #D9D9D9;


